@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.montsterrat{
    font-family: 'Montserrat', sans-serif;
}
.dela-gothic{
    font-family:  'Dela Gothic One', cursive ;
}
body{
    background: linear-gradient(#26335D,#26335dec);
}
::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-track{
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#e74040,#e78b40);
    border-radius: 4px;
}
.under-link{
    position: relative;
}
.under-link::after{
    position: absolute;
    content: '';
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color:#e74040 ;
    left: 0;
}
.under-link:hover::after{
    width: 100%;
}
.nav-link{
    transition: font-size 0.3s ease-in-out;
}