@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.montsterrat{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(#26335D,#26335dec);
}
::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-track{
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#e74040,#e78b40);
    border-radius: 4px;
}